<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Hotels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
</head>
<body>  
    <style>
        body{
            font-family: "Source Sans 3";
            margin: 0
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }
        nav li {
            float: right;
            border-left: 1px solid #bbb;
        }
        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav li a:hover:not(.active) {
            background-color: #111;
        }
        .active {
            background-color: #04AA6D;
        }
        nav li:last-child {
            border-left: none;
        }
        #introcontainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
        }
        #introtext {
            flex: 1;
        }
        #introimage img {
            max-width: 800px; /* Adjust size as needed */
            height: auto;
            margin-top: 100px;
            margin-bottom: 100px
        }
        h1{
            font-size: 3em;
            color: #444444;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        p{
            color: #7A7A7A;
            font-size: 16px
        }
        #hotels{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
        }
        #hotelstext{
            flex: 1;
            text-align: left;
            margin-left: 100px;
        }
        #hotelsimgs img {
            display: block;
            width: 500px;
            height: auto;
        }
    </style>
    <nav>
        <ul class="nav-links">
            <li><a href="/remove">Remove Reservation</a></li>
            <li><a href="/checkReservation">Check Reservation</a></li>
            <li><a href="/register">Make a Reservation</a></li>
            <li><a href="/browse">Browse Hotels</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div id = "introcontainer">
        <div id = "introtext">
            <h1>Browse Hotels</h1>
            <p>This section uses the Hotels.com Provider API to provide you with information about nearby hotels. Please fill out the form to get a list of hotels nearby.</p>
            <form action="http://localhost:<%=portNumber%>/browse" method="post">
                <fieldset>        
                    <strong><label>Check-In Date: <input id="checkInDate" type="text" name="checkInDate"/></label></strong>
                    <br>
                    <strong><label>Check-Out Date: <input id="checkOutDate" type="text" name="checkOutDate"></label></strong>
                    <br>
                    <strong><label>Number of People: <input id="numberOfPeople" type="text" name="numberOfPeople"></label></strong>
                </fieldset>
        
                
                <br>
                <input type="reset" />
                <input type="submit" value="Find Hotels"/>
                <br>
                <hr>
            </form>            
        </div>
    </div>

    <div id = "hotels">
        <div id = "hotelstext">
        </div>
        <div id = "hotelsimgs">
        </div>
    </div>

</body>
</html>