<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reservation Removed</title>
</head>

<body>  
	<h1>Reservation Removed</h1>
    <p>Your application has been removed from the database.</p>
</body>
<a href = "/">HOME</a>

</html>